@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  color: white;
  font-size: 20px;
}
